<div class="container pt-2">
    <h5>
        PS09070 - Vương Thế Minh Thăng
    </h5>
    <a href="https://www.facebook.com/peter.vuog">
        <i class="fa fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
    </a>
    <a>
        <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
    </a>
    <a>
        <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
    </a>
    <a>
        <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
    </a>
    <br/>
    © 2020 Copyright:
    <b>xPeter</b>
</div>